header {
  font-family: $coolveticaBold;
  width: 100%;
  position: absolute;
  top: 0;
}

nav {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  color: transparent;
  align-items: center;

  & > a {
    color: $primary;
  }
}

.logo {
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  letter-spacing: 1px;

  &>.nav-item:last-child {
    border: 1.5px solid white;
    border-radius: 20px;
  }
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav-item:hover {
  background-color: white;
  border-radius: 20px;

  &>a{
    color: $secondary;
  }
}

.logo img {
  width: 50px;
  vertical-align: middle;
}
