.projects {
  &__title {
    display: inline-block;

    padding-bottom: 10px;
    border-bottom: 5px dashed $color-secondary;
    margin-bottom: 3em;

    letter-spacing: 5px;
    color: $color-secondary;
    line-height: 20rem;

    & > h1 {
      font-size: $fs-section-title;
      margin-bottom: 0.2em;
    }

    & > h4 {
      font-size: $fs-section-subtitle;
    }

    & > h4,
    & > h1 {
      padding: 10px 5vw;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 50px;
    background-color: $color-primary;
  }

  &__image {
    display: flex;
    justify-content: center;

    height: auto;
    width: 18em;
    margin-top: 5em;
  }

  &__explain {
    flex: 1 1 60%;
    max-width: 700px;
    padding: 20px;

    font-family: $coolveticaRegular;
    font-size: $fs-normal;
    text-align: justify;
    letter-spacing: 0.1em;
    color: white;

    &__codice {
      display: flex;
      justify-content: center;
      position: relative;
      top: -1.5em;
    }

    &__codice > img {
      max-height: 300px;
    }

    &__btn {
      background-color: $color-alt;
      border: 3px solid $color-secondary;
      margin-top: 1em;
      padding: 0.5em 2em;
      border-radius: 1em;
      letter-spacing: 0.1em;
      line-height: 0.5em;
    }
  }

  &__pag div {
    margin-left: 0.5em;
    border-radius: 3em;
    width: 1em;
    height: 1em;
    background-color: $color-secondary;
  }
}

@media only screen and (min-width: 1200px) {
  .projects {
    &__info {
      padding: 0 15px;
    }
    &__explain {
      text-align: right;

      &__codice {
        width: 100%;
        justify-content: flex-end;
        position: relative;
        right: -6em;
      }

      &__btn {
        position: relative;
        right: 0;
      }
    }

    &__image {
      margin-top: 0;
    }
  }
}
