.services{
    /*font-size: $fs-normal;*/
    color: $color-primary;
    margin: 50px 0em;
    /*font-family: $coolveticaRegular;*/
    
    &__header{
        display: inline-block;

        padding-bottom: 10px;
        border-bottom: 5px dashed $color-secondary;
        
        margin-bottom: 3em;
        
        letter-spacing: 5px;
        color:$color-secondary;
        line-height: 20rem;

        &>h1 {
            font-size: $fs-section-title * 1;
            margin-bottom: 0.2em;
        }
        
        &>h4{
            font-size: $fs-section-subtitle;
        }
        
        &>h4, &>h1{
            padding: 10px 5vw;
        }
    }

    &__cardGroups{
        max-width: 1440px;
        margin: 10px auto;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.servicesCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-height: 265px;
    height: 265px;
    background-color: white;
    box-shadow: 0px 15px 20px -4px rgba(135,135,135,0.5);
    border-radius: 30px;
    border: 1px solid rgb(175, 175, 175);
    letter-spacing: 1px;
    margin-bottom: 2.5em;
    margin-top: .5em;
}