header {
  font-family: $coolveticaBold;
}

nav {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14rem;
}

.logo {
  display: block;
  color: $primary;

  & > h1 {
    color: $primary;
    font-size: 14rem;
  }
}

.nav-links {
  display: none;
}

.logo img {
  width: 50px;
  vertical-align: middle;
}

@media only screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    letter-spacing: 1px;

    & > .nav-item:last-child {
      border: 1.5px solid rgb(88, 8, 88);
      border-radius: 20px;

      &:hover {
        background-color: rgb(88, 8, 88);
      }
      
      &:hover > a {
        color: white;

      }
    }
  }

  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
  }

  .nav-item:hover {
    border-radius: 20px;

    & > a {
      color: $secondary;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .nav-links {
    display: flex;
  }
}
