.hero {
  font-family: $coolveticaRegular;
  height: 350px;
  color: #2985b0;
  display: flex;
  font-size: 12rem;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    border-radius: 16px;
    margin: 75px 5vw 20px 5vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 28rem;
    line-height: 28rem;

    & > h1 {
      font-size: 60rem;
    }

    & > h2,
    & > h1 {
      letter-spacing: 3px;
      margin: 5px 0;
    }
    & > p {
      color: $secondary;
      letter-spacing: 1px;
      margin: 5px 0;
    }
  }

  &__transparent {
    width: 20%;
  }
}

@media only screen and (min-width: 700px) {
  .hero {
    height: 480px;
    align-items: center;
    background-image: url("../asset/Home/Hero.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 35vw;
    font-size: 22rem;

    &__title {
      padding: 50px;
      background-color: transparent;
      width: 50vw;
      margin: 0;
    }

    &__transparent {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 700px;
    background-position: right top;
    background-size: auto 40vw;

    &__title {
      padding: 50px;
      background-color: transparent;
      width: 40vw;
    }
  }
}
