.whyUs{
    max-width: 1400px;
    margin: 10px auto;
    border-radius: 5vw;
    background-color: $secondary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $coolveticaRegular;
    font-size: 28rem;

    &__explain {
        padding: 50px;
        width: 60%;
        letter-spacing: 1px;

        & h1 {
            font-size: 40px;
        }
    }
}