/* https://codepen.io/lftomazela/pen/EvMBwp */
.preloader {
  width: 80px;
  height: 80px;

  border-top: 10px solid #2985b0;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#preloader-background {
  height: 100%;
  width: 100%;
  background: #36a9e0;
  position: fixed;
  left: 0;
  top: 0;
}
