.quote {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  @extend %background-image-left;

  color: $color-alt;
  line-height: 1.2;
  letter-spacing: 1px;

  &__explain{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &>button{
          margin: 30px auto;
      }
  }
}

@media only screen and (min-width: 992px) {
  .quote {
    height: 50vh;
    background-image: url("../../../asset/Services/Request.png");
    &__transparent {
      width: 35%;
    }
    &__explain {
      width: 65%;
    }
  }
}
