.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*position: fixed;*/

    margin-top: auto;
    
    color: white;

    div ul li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        text-decoration: underline;
    }

    figure{
        max-width: 100px;
    }
    
    background-color: $color-primary;
}