header {
  font-family: $coolveticaBold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  background-color: transparent;
  padding: 0 5em;
  width: 100%;

  font-size: $fs-normal * 0.4;

  & > ul > li > a{
    color: grey;
  }
}

.logo {
  display: block;
  color: $color-primary;

  & > h1 {
    color: $color-primary;
    font-size: $fs-section-title ;
  }
}

.nav-links {
  display: none;
}

.logo img {
  width: 50px;
  vertical-align: middle;
}

@media only screen and (min-width: 992px) {
  nav{
    padding: 0 2em;
    font-size: $fs-normal *.5;
  }
  
  .nav-links {

    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;

    & > .nav-item:last-child {
      border: 1.5px solid white;
      border-radius: 20px;

      &:hover {
        background-color: rgb(88, 8, 88);
      }
      
      &:hover > a {
        color: white;

      }
    }
  }

  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: grey;
  }

  .nav-item:hover {
    border-radius: 20px;

    & > a {
      color: $color-secondary;
    }
  }
}
@media only screen and (min-width: 1200px) {
  nav{
    padding: 0 2em;
    font-size: $fs-normal * .6 ;
  }
  .nav-links {
    display: flex;
  }
}
